<h1>Create New Menu Item</h1>
<%= render partial: "form" %>

<!-- Spencer: Your new.html.erb and edit.html.erb were nearly identical. This is a prime candidate to use a partial. Often times the new and edit pages are identical. The partial is inserted where the render statement is. The resulting html pages are unchanged. -->


