<h3>Admin navigation</h3>
<!-- Spencer: you should use the Rails link_to commands here. -->
<!-- Examples:  -->
<%#= link_to "vendors", vendors_path %>
<%#= link_to "users", users_path %>

<a href="/vendors">vendors</a><br>
<a href="/users">users</a><br>
<a href="/orders">orders</a><br>
<a href="/menu_items">items</a>