<p>Admin navigation</p>
<a href="/customer_orders">Customer orders</a><br>
<a href="/vendors">vendors</a><br>
<a href="/users">users</a><br>
<a href="/orders">orders</a><br>
<a href="/menu_items">items</a>